<div class="flex p-4">
  <div class="m-auto text-black">
    <form action="index.php" method="post" class="p-8 rounded-md bg-white shadow-md" enctype="multipart/form-data" (ngSubmit)="enviarDatos()" [formGroup]="form" ngNativeValidate>
      <p class="text-3xl">Registro</p>
      <div class="flex flex-row space-x-4">
        <div>
          <mat-label class="text-xs font-thin">Rating</mat-label>
        </div>
      </div>
      <div class="flex flex-row space-x-4">
        <div class="flex h-12 w-full">
          <div class="m-auto">
            <ngb-rating
              [(rate)]="star"
              [readonly]="false"
              [max]="5"
              [formControlName]="star"
              (rateChange)="onRateChange($event)">
            </ngb-rating>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-2 md:grid-cols-3 gap-x-4">
        <mat-form-field class="col-span-2 md:col-span-1">
          <input matInput type="text" class="focus:ring-transparent" placeholder="Nombre" formControlName="nombre" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" class="focus:ring-transparent" placeholder="Apellido Paterno" formControlName="apellido_p">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" class="focus:ring-transparent" placeholder="Apellido Materno" formControlName="apellido_m">
        </mat-form-field>
      </div>
      <div class="grid grid-cols-2 gap-4">
        <mat-form-field>
          <input matInput type="email" class="focus:ring-transparent" placeholder="Email" formControlName="email" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" class="focus:ring-transparent" placeholder="Contraseña" formControlName="pwd" required>
        </mat-form-field>
      </div>
      <div class="grid grid-cols-2 md:grid-cols-3 gap-x-4">
        <div class="col-span-2 md:col-span-1">
          <div>
            <mat-label class="text-xs font-thin">Sexo</mat-label>
          </div>
          <mat-radio-group formControlName="sexo" aria-label="Sexo" class="grid grid-cols-2" required>
            <mat-radio-button value="hombre">Hombre</mat-radio-button>
            <mat-radio-button value="mujer">Mujer</mat-radio-button>
          </mat-radio-group>
        </div>

        <mat-form-field>
          <mat-label class="text-xs font-thin">Fecha de nacimiento</mat-label>
          <input matInput type="date" class="focus:ring-transparent" placeholder="Fecha de nacimiento" formControlName="fecha" required>
        </mat-form-field>
        <mat-form-field>
          <mat-select matNativeControl formControlName="estado" class="focus:ring-transparent" placeholder="Selecciona un estado" maxlength="3" multiple required>
            <mat-option *ngFor="let estado of options" value="{{estado.id}}">
              {{estado.estado}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-label class="text-xs font-thin">Área de texto</mat-label>
        <ckeditor [editor]="Editor" formControlName="texto" class="focus:ring-transparent" required></ckeditor>
      </div>
      <div *ngIf="emailAlready" class="rounded-md border border-red-400 text-red-400 py-1.5 px-4 mb-3">
        Error al realizar el registro. El correo electrónico ingresado ya está registrado.
      </div>
      <flash-messages></flash-messages>
      <div class="space-x-4">
        <button mat-raised-button class="rounded-md border border-teal-400 text-teal-400 hover:bg-teal-400/10" type="submit" [class.spinner]="loading" [disabled]="loading">Registrar</button>
        <button mat-raised-button class="rounded-md border border-blue-400 text-blue-400 hover:bg-blue-400/10" type="button" routerLink="/login">Cancelar</button>
      </div>
    </form>
  </div>
</div>
